.calendar_list {
    width: max-content;
    float: left;
    text-align: left;
    padding: 10px 5px;
}
.calendar_list .caption {
    background: none;
}
.calendar_list .sub-menu li > span {
    color: #4e4d4d;
    text-align: left;
    padding-left: 10%;
}
.calendar_list span {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    background: url(../img/body.png) repeat-x;
    background-size: contain;
}
.calendar_list ul.calendars {
    list-style: none;
    margin-top: 0;
    max-height: 72vh;
    overflow-y: scroll;
    overflow-x: visible;
    padding-right: 20px;
    min-width: 300px;
}
.calendar_list ul.calendars .sub-menu {
    padding-left: 20px;
}
.calendar_list li {
    padding: 5px 0;
    position: relative;
}
.calendar_list li.first {
    border-bottom: 2px solid #4b9beb
}

.calendar_list input:checked + span {
    color: #67a6e8;
    border-bottom: 2px dotted #80b7f1;
}
.calendar_list label {
    margin-left: 20px;
    position: relative;
    width: 90%;
    display: inline-block;
    padding: 5px 2px;
    border-bottom: 2px solid #ddd;
}
.calendar_list .description {
    display: none;
}
.calendar_list label:hover > .description {
    display: block;
    position: absolute;
    top: 110%;
    left: -16%;
    background: #e0e0de;
    width: 90%;
    padding: 10px;
    z-index: 110;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 3px 3px 6px #171616;
    color: #000;
    word-break: break-word;
}
.calendar_list label span:hover {
    cursor: pointer;
}
.calendar_list label span {
    display: inline;
    background: none;
}
.calendars .first span {
    position: relative;
}
.calendars .first > span:before {
    content: '-';
    display: block;
    position: absolute;
    right: 5px;
    top: 1px;
    border-radius: 50%;
    border: 1px solid silver;
    width: 15px;
    height: 15px;
    line-height: 12px;
    text-align: center;
    padding-right: 2px;
}
.calendars .first.open > span:before {
    content: '+';
}
.calendars .first .sub-menu {
    display: none;
}
.calendars .first.open .sub-menu {
    display: block;
}



.calendar table {
	border-collapse: separate;
	border: 1px solid #9DABCE;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 20px;
}
.calendar td, th {
	width: 81px;
	height: 81px;
	text-align: center;
	vertical-align: middle;
	background: url(../img/cells.png);
	color: #444;
	position: relative;
}
.calendar th.caption {
    background: #e4e7eb;
    border: none;
}
.calendar th.header_table {
    position: relative;
	background: gray;
    color: #ffffff;
}
.calendar .button_cal {
    display: inline-block;
    width: 50px;
    border: 1px solid #d6cbcb;
    border-radius: 5px;
    background: #848486;
    line-height: 19px;
    padding-bottom: 3px;
}
.calendar .button_cal:hover {
    cursor: pointer;
}
.calendar .header_table span {
    margin: 0 25%;
}

.calendar th {
	height: 30px;
	font-weight: bold;
	font-size: 14px;
}
.calendar td:hover, th:hover {
	background-position: 0px -81px;
	color: #222;
}
.calendar td.date_has_event {
	background-position: 162px 0px;
	color: white;
}
.calendar td.date_has_event:hover {
	background-position: 162px -81px;
}
.calendar td.unactivmon {
	background: url(../img/calpad.jpg);
    color: gray;
}
.calendar td.activdey {
    position: relative;
    color: #0c11ec;
}
.calendar td.activdey.date_has_event {
    color: #ffffff;
}
.calendar td.activdey::before {
	content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border: 3px solid #040ba5;
    box-shadow: 0px 0px 6px #0e0e0e;
}
.calendar td.activdey:hover {
}
.calendar .events {
	position: relative;
}
.calendar .events ul {
	text-align: left;
	position: absolute;
    top: 30px;
    height: min-content;
	display: none;
	z-index: 1000;
	background: #E7ECF2 url(../img/popup.png) no-repeat;
	color: white;
	border: 1px solid white;
	font-size: 15px;
    width: min-content;
    min-width: 150px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	color: #444444;
	-webkit-box-shadow: 0px 8px 8px #333;
    width: 200px;
}
.calendar .events li {
	padding-bottom: 5px;
    padding: 15px;
}
.calendar .events li span {
	display: block;
    text-align: left;
	color: #555;
}
.calendar .events li span.title {
	font-weight: bold;
	color: #222;
    width: max-content;
    max-width: 150px;
}
.calendar ul.event_list .sub_menu {
    display: none;
    position: absolute;
    right: 200px;
    top: -36px;
    max-width: 230px;
    width: max-content;
}
.calendar ul.event_list .sub_menu .title {
    text-align: center;
    min-width: 100%;
}
.calendar ul.event_list .sub_menu .description {
    max-height: 150px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.calendar .sub_menu .description-view {
    position: absolute;
    top: 158px;
    right: -9px;
    color: #4e9deb;
    font-size: 25px;
    background: #e4e7eb;
    height: min-content;
    line-height: 16px;
    width: 30px;
    height: 30px;
}
.calendar .sub_menu.content .description-view {
    display: none;
}
.calendar .sub_menu .description-view:before {
    content: '\21F3';
    display: block;
    color: #000;
    font-size: 27px;
}
.calendar .description .description-view:hover {
   cursor: pointer;
}

.calendar ul.event_list li:hover span.title {
    color: #343434;
    border-bottom: 1px solid #0c11ec;
}

.calendar ul.event_list li:hover > .sub_menu {
    display: block;
}
.calendar ul.event_list li span {
    border-bottom: 1px solid #dddddd;
}
.calendar_list .calendars > li:last-child {
    margin-bottom: 200px;
}
.sub_menu.content .description {
    max-height: max-content !important;
    white-space: pre-wrap;
}
.calendar .date_has_event:hover > .events ul.event_list {
    display: block;
    right: 0px;
}



/* start adaptive */
@media (max-width: 550px) {
    body {
        padding-top: 20px;
    }
    .mobail {
        display: block;
    }
    .calendar_list {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        background: url(../img/body.png) repeat-x;
        background-size: contain;
    }
    .calendar_list .caption {
        background: none;
        text-align: right;
        padding-right: 20%;
        display: inline-block;
        width: max-content;
        float: right;
    }
    .calendar_list .menu-close:before {
        content: '\00D7';
        display: block;
        width: 100%;
        height: 100%;
        font-size: 30px;
        margin: 0;
        line-height: 25px;
    }
    .calendar_list .menu-close {
        display: none;
        width: 30px;
        height: 30px;
        color: red;
        background: none;
        position: absolute;
        top: -4px;
        right: 7%;
    }
    .calendar_list ul.calendars {
        display: none;
        max-height: 99vh;
        margin-bottom: 20vh;
        height: 90vh;
        padding-bottom: 5vh;
        padding-right: 2%;
        border-bottom: 2px solid#4208e4;
        width: 96%;
    }
    .calendar_list ul.calendars li .sub-menu {
        width: 90%;
        float: right;
    }
    .calendar_list .info:hover div {
        left: -216px;
        top: 25px;
        padding-right: 25px;
    }
    .calendar_list .sub-menu li > span {
        text-align: center;
        padding-left: 10%;
        width: 82%;
        float: right;
    }
    .calendar_list li.first {
        position: inherit;
    }
    .calendar_list li.first > span {
        padding: 5px 0;
    }
    .calendars .first > span:before {
        padding-right: 0;
        top: 7px;
    }
    .calendar_list .info {
        top: 10px;
    }
    .calendar_list span.menu-open {
        display: inline-block;
        width: 30px;
        position: absolute;
        right: 30px;
        background: #6b6868;
        height: 3px;
    }
    .menu-open:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 8px;
        right: 0;
        background: #6b6868;
    }
    .menu-open:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 8px;
        right: 0;
        background: #6b6868;

    }
    .info .description:before {
        content: '\00D7';
        display: block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: red;
        position: absolute;
        top: 0;
        right: 0px;
    }



    .calendar .events ul {
        position: fixed;
        top: -2%;
        left: 6% !important;
        height: 90%;
        width: 90%;
        z-index: 100;
    }
    .calendar .events ul:before {
        content: '';
    }
    .calendar .events li {
        padding-bottom: 5px;
        border-bottom: 1px solid #bdbbbb;
    }
    .calendar td, th {
        height: 50px;
    }
    .calendar ul.event_list .sub_menu {
        position: absolute;
        left: 24% !important;
        top: 4px;
        width: 70vw;
        height: max-content;
    }
    .event_list .menu-close {

    }
    .event_list .menu-close:before {
        content: '\00D7';
        display: block;
        width: 100%;
        height: 100%;
        font-size: 30px;
        margin: 0;
        line-height: 25px;
        color: red;
        text-align: right;
    }
    .calendar ul.event_list .sub_menu .description {
        max-height: 160px;
    }
    .calendar .events ul.event_list.pop-app {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
    }
    .calendar ul.event_list .sub_menu.content {
        left: 2% !important;
        width: 97%;
    }
    .pop-app .menu-close {
        display: none !important;
    }
}
